.home__container {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
	align-items: center;
}

.home__spacer {
	min-height: 2rem;
	flex: 1;
}

.home__bottom-items {
	padding-bottom: 0rem;
}

.home__game-information {
	padding-top: 2rem;
	min-height: 10rem;
	max-width: 65rem;
}

.home__start-game-button {
	font-family: Marvel-Regular;
	letter-spacing: 0.125rem;
	border: 0;
	color: white;
	border-radius: 0px;
	font-size: 1.125rem;
	padding: 0.7rem;
	background-color: #ed1d24;
}
